@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@100;400;700&family=Ubuntu+Condensed&display=swap');

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    background-image: url('../images/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.navbar-content>.container{
    display: flex;
    justify-content: space-between;
}

.navbar-content>.container>.brand-logo{
    font-size: 2.8em;
    text-decoration: none;
    letter-spacing: 0px;
    color: #fff;
    margin: auto 0 auto 60px;
}

.navbar-content>.container>.brand-logo:focus,
.navbar-content>.container>.menu>.nav-item>.nav-link:focus{
    outline: none;
    color: #cbcbcb;
}

.navbar-content>.container>.brand-logo:hover{
    color: #cbcbcb;
}

.navbar-content>.container>.menu{
    display: flex;
    margin-right: 60px;
    font-size: 1.8em;
}

.navbar-content>.container>.menu>.nav-item{
    list-style: none;
}

.navbar-content>.container>.menu .nav-link{
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.navbar-content>.container>.menu .nav-link:hover{
    color: #cbcbcb;
    border-bottom: 2px solid #cbcbcb;
}

/* Main Page Styles  */
.main-content>.main-page{
    display: flex;
    justify-content: space-around;
}

.main-content>.main-page>.picture{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content>.main-page>.picture>.profile-picture{
    width: 380px;
    height: 380px;
    border-radius: 50%;
}

.main-content>.main-page>.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content>.main-page>.heading p{
    font-size: 3.2em;
}

.main-content>.main-page>.heading>p>span{
    color: #303;
    font-weight: extra-bold;
    font-size: 1.2em;
}

.main-content>.main-page>.heading>a.talkBtn{
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
    padding: 16px;
    background-color: #E1341E;
    margin-top: -30px;
    border-radius: 2px;
}

.main-content>.main-page>.heading>a.talkBtn:hover, .main-content>.main-page>.heading>a.talkBtn:focus{
    background-color: #E75D4B;
    outline: none;
}

.main-content>.main-page>.heading>a.talkBtn:active{
    transform: scale(0.98);
}

/* Skills Page Styles */
.main-content>.skills-page{
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #ae561c 100%);
    border-top: 4px solid #fff;
    height: 600px;
}

.main-content>.skills-page>h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 60px;
    font-size: 3.2rem;
}

.main-content>.skills-page>.skills-logos{
    display: flex;
    justify-content: center;
}

.main-content>.skills-page>.skills-logos>.card{
    padding: 35px;
    margin: 20px;
    width: 220px;
    height: 340px;
    border-radius: 5px;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #1c74ae 100%);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.main-content>.skills-page>.skills-logos>.card>p, .main-content>.skills-page>.skills-logos>.card>h1{
    font-size: 1.1rem;
}

.learn-more{
    text-decoration: none;
    color: #fff;
    padding: 16px;
    background-color: #E1341E;
    border-radius: 2px;
    position: absolute;
    bottom: 20px;
    right: 45px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.learn-more:hover{
    background-color: #E75D4B;
}

.learn-more:focus{
    outline: none;
    background-color: #E75D4B;
}

.learn-more:active{
    transform: scale(.98);
}